name: CMake Integration CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]


jobs:
  stock:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: install cmake
      run: |
        wget https://cmake.org/files/v3.8/cmake-3.8.2.tar.gz
        tar -zxf cmake-3.8.2.tar.gz
        cd cmake-3.8.2
        ./bootstrap && make && make install
      
    - name: setup
      run: |
        mkdir build
        cd build
        cmake .. -DJWT_BUILD_EXAMPLES=OFF
        sudo make install

    - name: test
      run: |
        cd tests/cmake
        cmake . -DCMAKE_PREFIX_PATH=/usr/local/cmake -DTEST:STRING="defaults-enabled"
        cmake --build .

  no-pico:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: install cmake
      uses: lukka/get-cmake@latest
      
    - name: setup
      run: |
        mkdir build
        cd build
        cmake .. -DJWT_DISABLE_PICOJSON=ON -DJWT_BUILD_EXAMPLES=OFF
        sudo make install

    - name: test
      run: |
        cd tests/cmake
        cmake . -DCMAKE_PREFIX_PATH=/usr/local/cmake -DTEST:STRING="picojson-is-disabled"
        cmake --build .

  no-base64:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: install cmake
      uses: lukka/get-cmake@latest
      
    - name: setup
      run: |
        mkdir build
        cd build
        cmake .. -DJWT_DISABLE_BASE64=ON -DJWT_BUILD_EXAMPLES=OFF
        sudo make install

    - name: test
      run: |
        cd tests/cmake
        cmake . -DCMAKE_PREFIX_PATH=/usr/local/cmake -DTEST:STRING="base64-is-disabled"
        cmake --build .
