name: Documentation CI

on:
  push:
    branches: [master]
  workflow_dispatch: {}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ssciwr/doxygen-install@v1
        with:
          version: "1.9.8"
      - run: sudo apt install graphviz
      - run: | 
          cmake . -DJWT_BUILD_DOC=ON
          cmake --build . --target build_doxy
      - if: github.event_name == 'push'
        name: deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./doxy/html
          force_orphan: true
