name: Lint CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  clang-format:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        files: ["include/jwt-cpp/*.h", "tests/**.cpp"]
    steps:
      - run: sudo apt-get install clang-format
      - uses: actions/checkout@v2
      - run: clang-format -i ${{ matrix.files }}
      - run: exit $(git status -s | wc -l)

  cmake-format:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        files: ["CMakeLists.txt", "cmake/code-coverage.cmake"]
    steps:
      - uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - run: pip install cmakelang
      - uses: actions/checkout@v2
      - run: ls -la
      - run: cmake-format --check ${{ matrix.files }}

  clang-tidy:
    runs-on: ubuntu-20.04
    steps:
      - run: sudo apt-get install clang-tidy
      - uses: actions/checkout@v2
      - uses: lukka/get-cmake@latest
      - uses: ./.github/actions/install/gtest

      - name: configure
        run: |
          mkdir build
          cd build
          cmake .. -DCMAKE_CXX_CLANG_TIDY="clang-tidy;-fix"

      - name: run
        run: |
          cd build
          make
      - run: exit $(git status -s | wc -l)

  asan: ## Based on https://gist.github.com/jlblancoc/44be9d4d466f0a973b1f3808a8e56782
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: lukka/get-cmake@latest
      - uses: ./.github/actions/install/gtest

      - name: configure
        run: |
          mkdir build
          cd build
          cmake .. -DJWT_BUILD_TESTS=ON -DCMAKE_CXX_FLAGS="-fsanitize=address  -fsanitize=leak -g" \
                                        -DCMAKE_C_FLAGS="-fsanitize=address  -fsanitize=leak -g" \
                                        -DCMAKE_EXE_LINKER_FLAGS="-fsanitize=address  -fsanitize=leak" \
                                        -DCMAKE_MODULE_LINKER_FLAGS="-fsanitize=address  -fsanitize=leak"

      - name: build
        run: |
          cd build
          make

      - name: run
        run: |
          export ASAN_OPTIONS=fast_unwind_on_malloc=0
          cd build
          ./example/rsa-create
          ./example/rsa-verify
          ./tests/jwt-cpp-test
