name: Traits CI

on:
  push:
    # branches: [master]
  pull_request:
    branches: [master]

jobs:
  traits:
    name: Traits (${{ matrix.target.name }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target:
          - { name: "danielaparker-jsoncons", tag: "0.167.1", version: "v0.167.1" }
          - { name: "boost-json", tag: "1.77.0", version: "v1.77.0" }
          - { name: "nlohmann-json", tag: "3.10.4", version: "v3.10.4" }
          - { name: "kazuho-picojson", tag: "111c9be5188f7350c2eac9ddaedd8cca3d7bf394", version: "111c9be" }
    steps:
      - uses: actions/checkout@v2
      - uses: lukka/get-cmake@latest
      - name: setup
        run: |
          mkdir build
          cd build
          cmake .. -DJWT_BUILD_EXAMPLES=OFF
          sudo cmake --install .

       # Make sure to use the installed version
      - if: matrix.target.name == 'nlohmann-json'
        run: rm -rf include/nlohmann
      - if: matrix.target.name == 'kazuho-picojson'
        run: rm -rf include/picojson

      # Install the JSON library
      - name: install (${{ matrix.target.name }})
        uses: ./.github/actions/install/${{ matrix.target.name }}
        with:
          version: ${{ matrix.target.tag }}

      - name: test
        working-directory: example/traits
        run: |
          cmake . -DCMAKE_FIND_DEBUG_MODE=1
          cmake --build . --target ${{ matrix.target.name }}
          ./${{ matrix.target.name }}

      - name: badge success
        if: github.event_name == 'push' && success()
        uses: ./.github/actions/badge
        with:
          category: traits
          label: ${{ matrix.target.name }}
          message: ${{ matrix.target.version }}
          color: lightblue # turquoise
      - if: github.event_name == 'push' && success()
        uses: ./.github/actions/badge/publish
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: badge failure
        if: github.event_name == 'push' && !success()
        uses: ./.github/actions/badge/failure
        with:
          category: traits
          label: ${{ matrix.target.name }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
